.home-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin-top: 6px;
}

.home-img {
    width: 60%;
    max-width: 1110px;
}